:root {
  font-size: 10px;
  font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}
body {
  background: #dfe6e9;
  background: -webkit-linear-gradient(to left, #e9e4f0, #dfe6e9);
  background: linear-gradient(to left, #e9e4f0, #dfe6e9);
  min-height: 100vh;
  margin: auto;
  padding: 0 0.5rem;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body div#top-div {
  display: flex;
  height: 25px;
}
body div#top-div select.changelanguage {
  border: solid 1px #969696;
  border-radius: 2px;
  margin-left: auto;
}
body a.login,
body li.operate {
  font-size: 1.2rem;
  color: #339999;
  position: relative;
  list-style: none;
  width: 5rem;
}
body a.login:hover,
body li.operate:hover {
  cursor: pointer;
}
body a.login ion-icon,
body li.operate ion-icon {
  vertical-align: middle;
}
body a.login:hover ul,
body li.operate:hover ul {
  display: flex;
}
body a.login ul,
body li.operate ul {
  width: 2rem;
  list-style-type: none;
  display: none;
  position: absolute;
  margin-top: 0;
  top: 0;
}
body a.login ul li,
body li.operate ul li {
  display: flex;
  padding: 0.2rem;
  z-index: 99;
  border-radius: 2px;
  background-color: papayawhip;
  border: dashed 1px yellowgreen;
}
body a.login ul li:hover,
body li.operate ul li:hover {
  background-color: #fff;
}
body a.login ul li a,
body li.operate ul li a {
  margin-left: 0.8rem;
  width: 1.7rem;
  color: #339999;
  text-decoration: none;
}
body a.login ul li a:hover,
body li.operate ul li a:hover {
  cursor: pointer;
}
body div[style="padding:1px"] {
  height: 4rem;
}
body div.operatediv {
  position: fixed;
  background-color: #ddd;
  border: solid 2px rgba(137, 43, 226, 0.5);
  border-radius: 4px;
  z-index: 999;
}
body div.operatediv:hover {
  box-shadow: 0 0 10px #339999;
}
body div.operatediv div {
  color: #339999;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
body div.operatediv div input[type="submit"],
body div.operatediv div a.operatediv_close {
  align-self: flex-end;
  width: auto;
  padding: 1px 5px;
  margin: 5px 0;
  border: solid 2px #339999;
  border-radius: 2px;
  text-align: center;
  font-size: 1.5rem;
  color: #339999;
}
body div.operatediv div input[type="submit"]:hover,
body div.operatediv div a.operatediv_close:hover {
  background-color: #339999;
  cursor: pointer;
  color: #fff;
}
body div.operatediv div label {
  color: #333;
  font-size: 1.8rem;
  float: left;
}
body div.operatediv div select,
body div.operatediv div input {
  font-size: 1.6rem;
}
body div.mask {
  display: none;
}
body > div[style="position:absolute;"] {
  top: 2rem;
  background-color: yellow;
  border-radius: 2px;
  padding: 5px;
}
body > h1.title {
  margin: auto;
  font-size: 3rem;
}
body > h1.title a {
  font-family: Cursive;
  text-decoration: none;
  color: #3290e7;
  text-shadow: 2px 2px 5px rgba(50, 144, 231, 0.3);
  transition: 0.2s;
}
body > h1.title a:hover {
  text-shadow: none;
  font-size: 3.5rem;
}
body div.list-wrapper#more-disk-div {
  margin: auto;
  margin: 5px auto;
}
body div.list-wrapper#more-disk-div div.more-disk {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
body div.list-wrapper#more-disk-div div.more-disk:hover {
  box-shadow: 0 0 5px #339999;
}
body div.list-wrapper#more-disk-div div.more-disk a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 7px 15px;
  margin: 0;
  color: #888;
  transition: 0.4s;
  box-sizing: border-box;
  height: 32px;
}
body div.list-wrapper#more-disk-div div.more-disk a[now] {
  color: #339999;
  background-color: #dbc3fc;
  border-bottom: solid 3px #339999;
}
body div.list-wrapper#more-disk-div div.more-disk a:hover {
  color: #fff;
  background-color: #339999;
  box-shadow: 0 0 5px #99cc99;
}
body div.list-wrapper#head-om-div div.list-header-container div.readme p,
body div.list-wrapper#head-div div.list-header-container div.readme p {
  font-size: large;
  padding: 0 1rem;
  margin: 5px 0;
  color: #333;
}
body div.list-wrapper#list-div {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 5px;
  border: solid 5px rgba(137, 43, 226, 0.3);
  font-size: 1.5rem;
  margin: 5px 0;
}
body div.list-wrapper#list-div:hover {
  box-shadow: 0 0 10px rgba(137, 43, 226, 0.25);
}
body div.list-wrapper#list-div div.list-header-container {
  border-radius: 2px;
  border-bottom: dashed 1px rgba(59, 66, 107, 0.3);
  display: flex;
  align-items: center;
  background-color: #e0c3fc98;
}
body div.list-wrapper#list-div div.list-header-container a.back-link {
  margin-left: 1rem;
}
body div.list-wrapper#list-div div.list-header-container a.back-link ion-icon {
  margin-top: 2px;
  color: #339999;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: solid 2px #339999;
  transition: 0.4s;
}
body div.list-wrapper#list-div div.list-header-container a.back-link ion-icon:hover {
  background-color: #fff;
  box-shadow: 0 0 5px #339999;
  transform: scale(1.15) rotate(450deg);
}
body div.list-wrapper#list-div div.list-header-container h3.table-header {
  font-size: 1.5rem;
  margin: 10px;
  color: #339999;
  word-break: break-all;
  color: #666;
}
body div.list-wrapper#list-div div.list-header-container h3.table-header a {
  color: #339999;
  text-decoration: none;
}
body div.list-wrapper#list-div div.list-header-container h3.table-header a:hover {
  color: darkcyan;
  text-decoration: underline;
}
body div.list-wrapper#list-div div.list-body-container table.list-table {
  margin: auto;
  min-width: 100%;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr {
  color: #333;
  margin: 0.6rem;
  border: solid 1px #339999;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 6fr 2fr 1fr;
}
@media screen and (max-width: 768px) {
  body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr {
    grid-template-columns: 6fr 2fr;
  }
  body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th:nth-last-of-type(2),
  body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td:nth-last-of-type(2) {
    display: none;
  }
}
@media screen and (orientation: portrait) {
  body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr {
    grid-template-columns: 1fr;
  }
  body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th:last-of-type,
  body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td:last-of-type {
    display: none;
  }
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr:first-of-type {
  border: none;
  background: rgba(0, 0, 0, 0);
  margin: -2px 1.5rem;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr:first-of-type button {
  color: #339999;
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 0.3rem 0.8rem;
  border: solid 2px #339999;
  border-radius: 1.2rem;
  background: rgba(255, 255, 255, 0.25);
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr:first-of-type button:hover {
  box-shadow: 0 0 5px #339999;
  cursor: pointer;
  background-color: #f2f5fa;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr:nth-of-type(2) {
  margin-top: 0;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr:not(:first-of-type) {
  box-sizing: border-box;
  transition: 0.2s;
  border: solid 1px #339999;
  background-color: rgba(255, 255, 255, 0.7);
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr:not(:first-of-type):hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(73, 90, 47, 0.4);
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th a:hover {
  cursor: n-resize;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td {
  padding: 1rem;
  align-items: center;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th:first-of-type a,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td:first-of-type a {
  color: #333;
  margin-left: 0.5rem;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th:first-of-type a:not([onclick]):hover,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td:first-of-type a:not([onclick]):hover {
  color: #339999;
  text-decoration: underline;
  cursor: pointer;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th:first-of-type > ion-icon,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td:first-of-type > ion-icon {
  color: #333;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th:nth-of-type(2),
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td:nth-of-type(2) {
  justify-content: flex-end;
  text-align: right;
  cursor: default;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th:last-of-type,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td:last-of-type {
  justify-content: flex-end;
  text-align: right;
  cursor: default;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th li,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td li {
  list-style: none;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th a,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td a {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th li.operate,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td li.operate {
  display: flex;
  align-items: center;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th li.operate ul,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td li.operate ul {
  top: -0.7rem;
  left: 1rem;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th li.operate ul li,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td li.operate ul li {
  padding: 0.5rem;
  font-size: 1.3rem;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th li.operate ul li a,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td li.operate ul li a {
  width: auto;
  padding-right: 0.8rem;
}
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr th li.operate ul li:hover a,
body div.list-wrapper#list-div div.list-body-container table.list-table tbody tr td li.operate ul li:hover a {
  color: #339999;
  text-decoration: none;
}
body div.list-wrapper#list-div div.list-body-container div#upload_div div {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body div.list-wrapper#list-div div.list-body-container div#upload_div div select,
body div.list-wrapper#list-div div.list-body-container div#upload_div div input {
  font-size: 1.2rem;
  vertical-align: middle;
  padding: 0.5rem;
  margin: auto 5px;
  min-width: 6rem;
  border: solid 2px dimgrey;
  border-radius: 4px;
  background-color: gainsboro;
}
body div.list-wrapper#list-div div.list-body-container div#upload_div div select:hover,
body div.list-wrapper#list-div div.list-body-container div#upload_div div input:hover {
  box-shadow: 0 0 10px #696969;
  background-color: #e9e9e9;
  cursor: pointer;
}
body div.list-wrapper#list-div div.list-body-container div#upload_div div select,
body div.list-wrapper#list-div div.list-body-container div#upload_div div input#upload_submit {
  height: 35px;
}
body div.list-wrapper#list-div div.list-body-container div#upload_div div input#upload_file {
  height: 22px;
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] > div:first-of-type textarea {
  border: #999 solid 2px;
  padding: 5px;
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] > div:first-of-type textarea:hover {
  border: solid 2px #777;
  box-shadow: 0 0 10px #696969;
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] > div:first-of-type textarea:focus {
  outline-color: rgba(251, 251, 251, 0);
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] > div:first-of-type a {
  text-decoration: none;
  font-size: 1.6rem;
  margin-top: 15px;
  padding: 2px 12px 3px 7px;
  width: auto;
  border: solid 2px dimgrey;
  background-color: gainsboro;
  color: #333;
  border-radius: 2px;
  transition: 0.2s;
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] > div:first-of-type a:hover {
  border: solid 2px #666;
  box-shadow: 0 0 10px #696969;
  background-color: #f3f3f3;
  text-decoration: none;
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] > div:first-of-type a .hydrated {
  display: none;
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] img {
  width: 100%;
}
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] #pdf-c1,
body div.list-wrapper#list-div div.list-body-container div[style="margin: 12px 4px 4px; text-align: center"] #txt {
  width: 100%;
}
body div.list-wrapper#list-div div.list-body-container form#nextpageform {
  margin: 0 10px 10px;
}
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody {
  empty-cells: hide;
}
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td.updated_at {
  padding: 0 10px;
}
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td.updated_at font,
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td.updated_at a {
  padding: 0 5px;
  border: solid 1px dimgrey;
  border-radius: 4px;
  background-color: gainsboro;
  color: #333;
}
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td.updated_at font[color],
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td.updated_at a[color],
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td.updated_at font:hover,
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td.updated_at a:hover {
  cursor: pointer;
  color: #339999;
  background-color: #fff;
}
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td:first-of-type,
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td:last-of-type {
  border: solid 2px dimgrey;
  border-radius: 4px;
  background-color: gainsboro;
  color: #333;
}
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td:first-of-type:hover,
body div.list-wrapper#list-div div.list-body-container form#nextpageform tbody tr td:last-of-type:hover {
  color: #339999;
  cursor: pointer;
  box-shadow: 0 0 10px #696969;
  background-color: #fff;
}
body div.list-wrapper#foot-om-div,
body div.list-wrapper#readme-div {
  background-color: rgba(245, 245, 245, 0.3);
  width: 100%;
  margin: 15px auto 0;
  border-radius: 3px;
  border: solid 5px rgba(137, 43, 226, 0.3);
  box-sizing: border-box;
}
body div.list-wrapper#foot-om-div div.markdown-body,
body div.list-wrapper#readme-div div.markdown-body {
  padding: 5px;
}
body div.list-wrapper#foot-om-div:hover,
body div.list-wrapper#readme-div:hover {
  box-shadow: 0 0 10px rgba(137, 43, 226, 0.25);
}
body div.list-wrapper#foot-om-div {
  margin-top: 20px;
}
body div.list-wrapper#foot-om-div .customfile {
  padding: 10px;
}
body > div[style="color: rgba(247,247,249,0);"] {
  margin-top: 1rem;
  flex: 1 0;
  display: flex;
  align-items: flex-end;
}
body select[name="theme"] {
  border: solid 2px dimgrey;
  border-radius: 4px;
  background-color: gainsboro;
  min-height: 25px;
  max-width: 110px;
  cursor: pointer;
  font-size: 13px;
}
body select[name="theme"]:hover {
  box-shadow: 0 0 10px #696969;
  background-color: #e9e9e9;
}
